.staggered {
    &:nth-child(1) {
        --child-animation-delay: 0.05s;
    }
    &:nth-child(2) {
        --child-animation-delay: 0.1s;
    }
    &:nth-child(3) {
        --child-animation-delay: 0.15s;
    }
    &:nth-child(4) {
        --child-animation-delay: 0.2s;
    }
    &:nth-child(5) {
        --child-animation-delay: 0.25s;
    }
    &:nth-child(6) {
        --child-animation-delay: 0.3s;
    }
    &:nth-child(7) {
        --child-animation-delay: 0.35s;
    }
    &:nth-child(8) {
        --child-animation-delay: 0.4s;
    }
    &:nth-child(9) {
        --child-animation-delay: 0.45s;
    }
    &:nth-child(10) {
        --child-animation-delay: 0.5s;
    }
    &:nth-child(11) {
        --child-animation-delay: 0.55s;
    }
    &:nth-child(12) {
        --child-animation-delay: 0.6s;
    }
    &:nth-child(13) {
        --child-animation-delay: 0.65s;
    }
    &:nth-child(14) {
        --child-animation-delay: 0.7s;
    }
    &:nth-child(15) {
        --child-animation-delay: 0.75s;
    }
    &:nth-child(16) {
        --child-animation-delay: 0.8s;
    }
    &:nth-child(17) {
        --child-animation-delay: 0.85s;
    }
    &:nth-child(18) {
        --child-animation-delay: 0.9s;
    }
    &:nth-child(19) {
        --child-animation-delay: 0.95s;
    }
    &:nth-child(20) {
        --child-animation-delay: 1s;
    }
    &:nth-child(21) {
        --child-animation-delay: 1.05s;
    }
    &:nth-child(22) {
        --child-animation-delay: 1.1s;
    }
    &:nth-child(23) {
        --child-animation-delay: 1.15s;
    }
    &:nth-child(24) {
        --child-animation-delay: 1.2s;
    }
    &:nth-child(25) {
        --child-animation-delay: 1.25s;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    .animated,
    h1.animated,
    article.animated,
    .frontmatter .info time.animated,
    .post-tags .post-tag.animated,
    .random-post-btn-container.animated {
        animation: none !important;
        opacity: 1 !important;
        transform: none !important;
    }

    header #title,
    header nav a {
        animation: none !important;
        opacity: 1 !important;
        transform: none !important;
    }

    header {
        animation: none !important;
        transform: translateX(-50%) translateY(0) translate3d(0, 0, 0) !important;
    }

    .post-link:hover {
        transform: none;
    }
}
