:root {
    --media-width: clamp(300px, 60vw, 1000px);
    @include mobile {--media-width: 100%;}
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    font-style: italic;
    color: $color-text-secondary;

    figcaption {
        width: fit-content;
    }
}

.responsive {
    max-width: var(--media-width);
    max-height: $max-media-height;
    width: auto;
    height: auto;
    border-radius: $radius-xl;
    border: $border-standard;

    &.media-verytall {
        max-height: $max-media-height-verytall;
    }
}

iframe {
    width: var(--media-width) !important;
    height: 500px !important;
}

.noborder {
    border: none;
}

.bigimage {
    max-width: $max-media-width-big;
    max-height: $max-media-height-big;
}

.smallimage {
    max-width: $max-media-width-small;
    max-height: $max-media-height-small;
}
