@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin notMobile {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin notDesktop {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin fine {
    @media (pointer: fine) {
        @content;
    }
}

@mixin motion {
    @media (prefers-reduced-motion: no-preference) {
        @content;
    }
}

@mixin noMotion {
    @media (prefers-reduced-motion: reduce) {
        @content;
    }
}

@mixin tall {
    @media (min-height: 1200px) {
        @content;
    }
}

@mixin notTall {
    @media (max-height: 1200px) {
        @content;
    }
}

@mixin nomint {
    background: none;
    background-clip: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: unset;
}

@mixin mint {
    background: var(--mint-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
