{{ $src := replace (.Destination | safeURL) "~/" "/media/" }}
{{ $img := resources.Get $src }}

{{ $width := $img.Width }}
{{ $height := $img.Height }}

{{ $alt := .PlainText }}
{{ $is_gif := findRE "GIF" $alt }}
{{ $alt_processed := replace $alt "GIF" "" | trim " " }}

<figure>
    {{ if or (strings.HasSuffix $src ".webm") (strings.HasSuffix $src ".mp4") (strings.HasSuffix $src ".ogg") (strings.HasSuffix $src ".mov") }}
    {{ if $is_gif }}
    <video
        class="gif"
        src="{{ $src }}"
        alt="{{ $alt_processed }}"
        width="{{ $width }}"
        height="{{ $height }}"
        autoplay
        loop
        muted
        playsinline
    ></video>
    {{ else }}
    <video
        class="video"
        src="{{ $src }}"
        alt="{{ $alt_processed }}"
        width="{{ $width }}"
        height="{{ $height }}"
        controls
    ></video>
    {{ end }}
    {{ else }}
    <img
        src="{{ $src }}"
        alt="{{ $alt_processed }}"
        width="{{ $width }}"
        height="{{ $height }}"
    />
    {{ end }}
    {{- with .Title }}
    <figcaption>{{ . }}</figcaption>
    {{ end -}}
</figure>
