{{ $destination := replace (.Destination | safeURL) "~/" "/media/" }}
{{ $img := resources.Get $destination }}
{{ $src := $img.RelPermalink }}

{{ $width := "" }}
{{ $height := "" }}
{{ if and $img (eq $img.MediaType.MainType "image") (ne $img.MediaType.SubType "svg") }}
    {{ $width = $img.Width }}
    {{ $height = $img.Height }}
{{ end }}

{{ $alt := .PlainText }}
{{ $is_gif := findRE "GIF" $alt }}
{{ $alt_processed := replace $alt "GIF" "" | trim " " }}

<figure>
    {{ if or (strings.HasSuffix $src ".webm") (strings.HasSuffix $src ".mp4") (strings.HasSuffix $src ".ogg") (strings.HasSuffix $src ".mov") }}
    {{ if $is_gif }}
    <video
        class="gif"
        src="{{ $src }}"
        alt="{{ $alt_processed }}"
        {{ if $width }}width="{{ $width }}"{{ end }}
        {{ if $height }}height="{{ $height }}"{{ end }}
        autoplay
        loop
        muted
        playsinline
    ></video>
    {{ else }}
    <video
        class="video"
        src="{{ $src }}"
        alt="{{ $alt_processed }}"
        {{ if $width }}width="{{ $width }}"{{ end }}
        {{ if $height }}height="{{ $height }}"{{ end }}
        controls
    ></video>
    {{ end }}
    {{ else }}
    <img
        src="{{ $src }}"
        alt="{{ $alt_processed }}"
        {{ if $width }}width="{{ $width }}"{{ end }}
        {{ if $height }}height="{{ $height }}"{{ end }}
    />
    {{ end }}
    {{- with .Title }}
    <figcaption>{{ . }}</figcaption>
    {{ end -}}
</figure>
