{{ define "main" }}
<h1 class="animated">Blog ({{ len (where .Pages "Params.unlisted" "ne" true) }})</h1>
<article class="animated">
    <div class="post-tags">
        {{ range first 10 .Site.Taxonomies.tags.ByCount }}
        <a class="post-tag animated staggered" href="{{ .Page.Permalink | relURL }}">#{{ .Page.Title }}</a>
        {{ end }}
        <a class="post-tag animated staggered" href="{{ "/tags/" | relURL }}">...</a>
    </div>

    <div class="random-blog-btn-container animated">
        <button
            onclick="redirectToRandomBlog()"
            class="random-blog-btn"
            title="Go to a random blog post"
        >
            🎲 Random Post
        </button>
    </div>

    {{ partial "post-links.html" .Pages }}
</article>
{{ end }}

{{ define "resources" }}
{{ $randomblogJs := resources.Get "randomblog.js"| minify }}
<script src="{{ $randomblogJs.Permalink }}"></script>
{{ end }}
