{{ define "main" }}
<h1 class="animated">Blog</h1>
<article class="animated">
    <p class="definition">
        Blog (noun) - an online journal of thoughts
    </p>
    <p>
        This is my blog. I use it to share things that I've written,
        usually essays about things that I've made or that interest
        me.
    </p>
    <p>
        I've published <b>{{ len (where .Pages "Params.unlisted" "ne" true) }}</b> posts so
        far. Each post is tagged with any of
        <b>{{ len .Site.Taxonomies.tags }}</b> descriptive
        <a href="{{ "/tags/" | relURL }}">tags</a>. Clicking on a tag will link you to
        that tag's aggregator page, which links to all blog posts
        and projects with that tag. You can view a full list of tags
        in the <a href="{{ "/tags/" | relURL }}">tag index</a>.
    </p>
    <p>~Ethan</p>

    <div class="post-tags">
        {{ range first 10 .Site.Taxonomies.tags.ByCount }}
        <a class="post-tag animated" href="{{ .Page.Permalink | relURL }}">#{{ .Page.Title }}</a>
        {{ end }}
        <a class="post-tag animated" href="{{ "/tags/" | relURL }}">...</a>
    </div>

    <div class="random-blog-btn-container animated">
        <button
            onclick="redirectToRandomBlog()"
            class="random-blog-btn"
            title="Go to a random blog post"
        >
            🎲 Random Post
        </button>
    </div>

    <nav class="button-links">
        {{ range (where .Pages "Params.unlisted" "ne" true).ByDate.Reverse }}
        {{ $post := . }}
        {{ $minRead := math.Ceil (div (countwords $post.Content) 200.0) }}
        <a class="button-link" href="{{ .Permalink | relURL }}">
            <span class="content">
                <span class="title">{{ .Title }}</span>
                <span class="description">
                    {{ .Date.Format "January 2, 2006" }}
                    {{ if gt $minRead 1 }} · {{ $minRead }} min read{{ end }}
                </span>
            </span>
            <span class="tags">
                {{ range .Params.tags }}
                <span class="tag">{{ . }}</span>
                {{ end }}
            </span>
        </a>
        {{ end }}
    </nav>
</article>
{{ end }}

{{ define "resources" }}
{{ $randomblogJs := resources.Get "randomblog.js"| minify }}
<script src="{{ $randomblogJs.Permalink }}"></script>
{{ end }}