<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }}</title>
        <meta name="description" content="{{ .Description }}" />
        <link rel="canonical" href="{{ .Permalink }}" />
        <meta property="og:title" content="{{ .Title }}" />
        <meta property="og:description" content="{{ .Description }}" />
        {{ if eq .Section "about" }}
        <meta property="og:type" content="profile" />
        {{ else if eq .Section "blog" }}
        <meta property="og:type" content="article" />
        {{ else }}
        <meta property="og:type" content="website" />
        {{ end }}
        <meta property="og:url" content="{{ .Permalink }}" />
        {{ $commonCss := resources.Get "common.css" | minify }}
        <link rel="stylesheet" href="{{ $commonCss.Permalink }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        {{ $commonJs := resources.Get "common.js" | minify }}
        <script src="{{ $commonJs.Permalink }}"></script>
        {{ block "resources" . }}{{ end }}
    </head>
    <body>
        {{ partial "header.html" . }}
        <main>{{ block "main" . }}{{ end }}</main>
        {{ block "after_main" . }}{{ end }} {{ partial "footer.html" . }}
    </body>
</html>
