<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "metadata.html" . -}}
{{- block "default-resources" . -}}
{{ partial "css.html" "_global.scss" }}
{{ partial "js.html" "common.sync.js" }}
{{ partial "js.html" "vendor/quicklink.async.js" }}
{{- end -}}
{{- block "resources" . }}{{ end }}
{{ partial "font-preload.html" . }}
</head>
<body>
{{ partial "header.html" . }}
<main>
{{- block "main" . }}{{ end -}}
</main>
{{ block "after_main" . }}{{ end }}
{{ partial "footer.html" . }}
</body>
</html>
{{- partial "publish-all-media.html" . -}}
