<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "metadata.html" . -}}
{{ partial "font-preload.html" . }}
{{- partial "publish-all-media.html" . -}}
{{- block "default-resources" . -}}
{{- partial "load-assets.html" (slice "js/common.sync.js" "js/vendor/quicklink.async.js") -}}
{{- end -}}
{{- block "resources" . }}{{ end }}
</head>
<body>
{{ partial "header.html" . }}
<main>
{{- block "main" . }}{{ end -}}
</main>
{{ block "after_main" . }}{{ end }}
{{ partial "footer.html" . }}
</body>
</html>
