@import 'global';

$font-404: "Kenia", monospace;
$font-size-404: clamp(5rem, 60vw, 20rem);

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

main {
    position: relative;
    z-index: 2;
    margin: 0;
    text-align: center;
    align-items: center;
}

h1 {
    font-family: $font-404;
    font-size: $font-size-404;
    font-weight: 1;
    line-height: 1em;
    color: $color-text;
    margin: 0;
}

p {
    font-family: $font-monospace;
    font-size: $font-size-h2;
    margin: 0;
}

footer {
    display: none;
}
