@import 'global';
@import 'components/header-anim';
@import 'base/mixins';

main {
    padding: 0;
    align-items: center;
    justify-content: center;
}

.intro-container {
    .intro-text {
        font-family: $font-secondary;
        display: flex;
        flex-direction: column;
        padding: 10px 10px 10px 0;
        overflow-wrap: break-word;
        flex-basis: 0;
        flex-grow: 1;
        z-index: 1;

        .intro-text-middle {
            margin-top: 0;
            position: relative;
            height: fit-content;
            width: fit-content;

            @include mobile {
                margin-bottom: 0;
            }
        }
    }
}
