@import 'base/mixins';

$footer-bg: rgba(255, 255, 255, 0.1);
$footer-border-color: rgba(255, 255, 255, 0.18);
$footer-border: 1px solid $footer-border-color;

$footer-blur: 10px;

$footer-padding-top: 10px;
$footer-padding-sides: 30px;
$footer-padding-bottom: 5px;

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: $footer-bg;
    backdrop-filter: blur($footer-blur);
    transform: translate3d(0, 0, 0);
    border-top: $footer-border;
    padding: $footer-padding-top $footer-padding-sides $footer-padding-bottom;
    box-sizing: border-box;
    color: var(--color-text);
    z-index: 9999;
    transition: position 0.2s;
    position: fixed;
    bottom: 0;

    body.height-overflow & {
        position: static;
    }

    & span {
        font-size: var(--font-size-base);

        & a {
            color: var(--color-text);
        }

        &#copyright {
            z-index: 4;
            font-style: italic;
            margin: auto;

            @include notMobile {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
            }
        }

        &#repo,
        &#contact {
            z-index: 5;
            @include mobile {
                display: none;
            }
        }
    }
}
