@import 'base/mixins';

.frontmatter {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-self: flex-start;

    @include mobile {
        margin-left: $frontmatter-margin-left;
    }

    & .title {
        margin-left: 0;
        max-width: clamp(300px, 80vw, 800px);
    }

    & .info {
        margin-bottom: $spacing-sm;
        font-family: $font-secondary;
        font-size: 1.2rem;
        font-style: italic;
        color: $color-accent;

        &.animated {
            animation: slideInFromLeft 0.8s $transition-timing both;
            @include mobile {
                animation: slideInFromLeft 0.5s 0.2s $transition-timing
                    both;
            }
        }

        & .separator {
            font-style: normal;
        }
    }

    & .post-tags {
        margin: 0;
        align-items: left;
        justify-content: left;

        & .post-tag {
            animation: slideInFromLeft 0.5s
                calc(var(--child-animation-delay) + 0.3s)
                $transition-timing both !important;
        }
    }

    & .external-link-row {
        justify-content: left;
        align-self: start;
        margin-top: $spacing-md;

        & a.external-link {
            padding: 0.8em 1.2em;
        }
    }
}
