.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-md) var(--spacing-xs) var(--spacing-lg);

    & .post-tag {
        display: inline-block;
        background: $color-accent-transparent-10;
        color: $color-accent;
        border: $border-accent;
        border-radius: var(--radius-round);
        padding: 0.2em 0.8em;
        font-size: 0.95em;
        font-family: var(--font-secondary);
        text-decoration: none;
        transition:
            background 0.2s,
            color 0.2s,
            border 0.2s;

        &:hover,
        &:focus {
            background: $color-accent;
            color: $color-background;
            border-color: $color-accent-light;
            text-decoration: none;
        }

        &.animated {
            opacity: 0;
            transform: translateX(60px);
            animation: postTagSlideIn 0.6s var(--child-animation-delay)
                cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
        }
    }
}
