header {
    animation: headerentrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;

    @media (max-width: 768px) {
        animation: headerentrancemobile 0.75s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }

    #title {
        animation: titleentrance 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            forwards;
    }

    a {
        opacity: 0;
        transform: translateX(350px);
        animation: anchorentrance 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            forwards;
        animation-delay: var(--child-animation-delay);

        @media (max-width: 768px) {
            transform: translateY(-50px);
        }
    }
}

@keyframes headerentrance {
    from {
        transform: translateX(-50%) translateY(-20px) translate3d(0, 0, 0);
    }
    to {
        transform: translateX(-50%) translateY(0) translate3d(0, 0, 0);
    }
}

@keyframes headerentrancemobile {
    from {
        transform: translateY(-20px) translate3d(0, 0, 0);
    }
    to {
        transform: translateY(0) translate3d(0, 0, 0);
    }
}

@keyframes titleentrance {
    from {
        opacity: 0.2;
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anchorentrance {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
