{{ define "resources" }}
{{- partial "load-assets.html" (slice "css/posts.scss" "js/components/randomblog.js") -}}
{{ end }}

{{ define "main" }}
<h1 class="animated">Posts ({{ len (where .Pages "Params.unlisted" "ne" true) }})</h1>
<article class="animated">
    <div class="post-tags">
        {{ range first 10 .Site.Taxonomies.tags.ByCount }}
        <a class="post-tag animated staggered" href="{{ .Page.Permalink | relURL }}">#{{ .Page.Title }}</a>
        {{ end }}
        <a class="post-tag animated staggered" href="{{ "/tags/" | relURL }}">...</a>
    </div>

    <div class="random-blog-btn-container animated">
        <a
            href="#"
            id="random-post-link"
            class="random-blog-btn"
            title="Go to a random post"
        >
            🎲 Random Post
        </a>
    </div>

    {{ partial "post-links.html" .Pages }}
</article>
{{ end }}
