{{ define "resources" }}
{{ partial "css.html" "post.scss" }}
{{ end }}

{{ define "body" }}
<main>
    {{- $page := . -}}
    {{- $minRead := math.Ceil (div (countwords $page.Content) 200.0) }}
    <div class="frontmatter">
    <h1 class="animated title">{{ .Title }}</h1>
    {{ partial "post-info.html" . }}
    {{- with .Params.tags }}
    <div class="post-tags">
        {{- range . | sort }}
        <a class="post-tag animated staggered" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
        {{- end }}
    </div>
    {{ end }}
    {{- if or .Params.github .Params.colab .Params.codepen .Params.wikipedia .Params.link }}
    <div class="external-link-row">
        {{- if .Params.github }}
        <a class="external-link" href="{{ .Params.github }}">
            <img src="/media/icons/github.svg" alt="GitHub icon" />
            <span>GitHub Repo</span>
        </a>
        {{ end }}
        {{- if .Params.colab }}
        <a class="external-link" href="{{ .Params.colab }}">
            <img src="/media/icons/colab.svg" alt="Google Colab icon" />
            <span>Colab Notebook</span>
        </a>
        {{ end }}
        {{- if .Params.codepen }}
        <a class="external-link" href="{{ .Params.codepen }}">
            <img src="/media/icons/codepen.svg" alt="CodePen icon" />
            <span>CodePen</span>
        </a>
        {{ end }}
        {{- if .Params.wikipedia }}
        <a class="external-link" href="{{ .Params.wikipedia }}">
            <img src="/media/icons/wikipedia.svg" alt="Wikipedia icon" />
            <span>Wikipedia Article</span>
        </a>
        {{ end }}
        {{- if .Params.webpage }}
        <a class="external-link" href="{{ .Params.webpage }}">
            <img src="/media/icons/webpage.svg" alt="web icon" />
            <span>Webpage</span>
        </a>
        {{ end }}
        {{- if .Params.link }}
        <a class="external-link" href="{{ .Params.link }}">
            <img src="/media/icons/link.svg" alt="link icon" />
            <span>Link</span>
        </a>
        {{ end }}
    </div>
    {{ end }}
    </div>
    <article class="animated">
    {{ .Content }}
    </article>
</main>
{{ end }}
