<link rel="preload" href="/fonts/Fira_Code.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Nunito-cyrillic-italic.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Nunito-cyrillic.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Nunito-latin-ext-italic.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Nunito-latin-ext.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Nunito-latin.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Nunito-latin-italic.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Sen-latin.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Sen-latin-ext.woff2" as="font" type="font/woff2" crossorigin />