<header>
    <a href="/" id="title" tabindex="0" aria-label="Home">Ethan Marks</a>
    <nav>
        <a id="nav-home" class="staggered{{ if .IsHome }} active{{ end }}" href="/">Home</a>
        <a id="nav-about" class="staggered{{ if eq .Section "about" }} active{{ end }}" href="/about/">About</a>
        <a id="nav-posts" class="staggered{{ if eq .Section "posts" }} active{{ end }}" href="/posts/">Posts</a>
        <a id="nav-projects" class="staggered{{ if eq .RelPermalink "/tags/projects/" }} active{{ end }}" href="/tags/projects/">Projects</a>
    </nav>
</header>
