{{- range . -}}
  {{- $ext := path.Ext . -}}
  {{- $asset := resources.Get . -}}
  {{- if $asset -}}
    {{- $processed := $asset -}}
    {{- if eq $ext ".scss" -}}
        {{- $processed = $processed | toCSS -}}
    {{- end -}}
    {{- $processed = $processed | minify -}}
    {{- if or (eq $ext ".css") (eq $ext ".scss") }}
<link rel="stylesheet" href="{{ $processed.Permalink }}" />
    {{- else if eq $ext ".js" }}
      {{- if strings.HasSuffix . ".sync.js" }}
<script src="{{ $processed.Permalink }}"></script>
      {{- else if strings.HasSuffix . ".async.js" }}
<script src="{{ $processed.Permalink }}" async></script>
      {{- else }}
<script src="{{ $processed.Permalink }}" defer></script>
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- errorf "Asset not found: %s" . -}}
  {{- end -}}
{{- end -}}
