{{/* Process all media assets to ensure they are published */}}
{{- $mediaDir := "media" -}}
{{- range (resources.Match (printf "%s/**" $mediaDir)) -}}
  {{- $asset := . -}}
  {{- $permalink := $asset.RelPermalink -}}
  {{/* Force processing by accessing permalink - this ensures the asset gets published */}}
{{- end -}}

{{- $iconsDir := "media/icons" -}}
{{- range (resources.Match (printf "%s/**" $iconsDir)) -}}
  {{- $asset := . -}}
  {{- $permalink := $asset.RelPermalink -}}
  {{/* Force processing by accessing permalink - this ensures the asset gets published */}}
{{- end -}}
