{{ define "resources" }}
{{- partial "load-assets.html" (slice "css/home.scss" "js/pages/home.js" "js/vendor/vanilla-tilt.js") -}}
{{ end }}

{{ define "main" }}
<section id="intro">
    <div id="text">
        <span id="greeting" class="text-shimmer" data-shimmer-inverse data-shimmer-delay="200">Ahoy! I'm</span>
        <span id="name" class="text-shimmer">Ethan Marks</span>
        <span id="vocation" class="text-shimmer" data-shimmer-inverse data-shimmer-delay="350" data-shimmer-speed="35">Software Developer</span>
    </div>
    <div id="pfp-container">
        <img
            id="pfp"
            width=256
            height=256
            loading="lazy"
            src="/media/spearmint-pfp.webp"
            alt="A faceted crystalline spearmint teal surface used as Ethan's profile picture"
            style="background: #d6eddc; border-radius: 999px;"
        >
    </div>
</section>
{{ end }}
