{{ define "resources" }}
{{- partial "load-assets.html" (slice "css/home.scss" "js/pages/home.js" "js/vendor/vanilla-tilt.js") -}}
{{ end }}

{{ define "main" }}
<section id="intro">
    <div id="text">
        <span id="greeting" class="text-shimmer" data-shimmer-inverse data-shimmer-delay="200">Ahoy! I'm</span>
        <span id="name" class="text-shimmer">Ethan Marks</span>
        <span id="vocation" class="text-shimmer" data-shimmer-inverse data-shimmer-delay="350" data-shimmer-speed="35">Software Developer</span>
    </div>
    <div id="pfp-container">
        <img
            id="pfp"
            width=256
            height=256
            loading="lazy"
            src="/media/spearmint-pfp.webp"
            alt="A faceted crystalline spearmint teal surface used as Ethan's profile picture"
            style="background: #d6eddc; border-radius: 999px;"
        >
    </div>
</section>
<section id="about">
    <h2>Who I Am</h2>
    <p>I'm Ethan Marks. I'm a 14-year-old software developer. My work lives at the intersection of code, design, and curiosity. This is my corner of the web.</p>
    <a href="/about/">More about me</a>
</section>
<section id="build">
    <h2>What I Build</h2>
    <p>I enjoy writing software and automating things with code. I've been programming for the majority of my life, and I spend most of my free time working on my various projects, including the website you're on right now.</p>
    <div id="projects">
        <h3>Featured Projects</h3>
        <div><a href="/posts/asciiglobe/">ASCII-Globe</a></div>
        <div><a href="/posts/thessa/">Thessa</a></div>
        <div><a href="/posts/colourlesstransformer/">ColourlessTransformer</a></div>
    </div>
</section>
<section id="write">
    <h2>What I Write</h2>
    <p>I love to write, and I publish some of my more coherent pieces here on my personal website as posts. I've written technical articles, word collections, poems, short stories, and more.</p>
    <div id="posts">
        <h3>Featured Posts</h3>
        <div><a href="/posts/liquidglass/">Thoughts on Liquid Glass</a></div>
        <div><a href="/posts/waterman/">The Waterman Butterfly</a></div>
        <div><a href="/posts/quanth/">I have invented a new measurement system</a></div>
    </div>
</section>
{{ end }}
