{{ define "resources" }}
{{- partial "load-assets.html" (slice "css/home.scss" "js/pages/home.js" "js/vendor/vanilla-tilt.js") -}}
{{ end }}

{{ define "main" }}
<section id="intro">
    <div id="text">
        <span id="greeting" class="text-shimmer" data-shimmer-inverse data-shimmer-delay="200">Ahoy! I'm</span>
        <span id="name" class="text-shimmer">Ethan Marks</span>
        <span id="vocation" class="text-shimmer" data-shimmer-inverse data-shimmer-delay="350" data-shimmer-speed="35">Software Developer</span>
    </div>
    <div id="pfp-container">
        <img
            id="pfp"
            width=256
            height=256
            loading="lazy"
            src="/media/spearmint-pfp.webp"
            alt="A faceted crystalline spearmint teal surface used as Ethan's profile picture"
            style="background: #d6eddc; border-radius: 999px;"
        >
    </div>
</section>
<section id="about">
    <h2>Who I Am</h2>
    <p>I'm Ethan Marks. I'm a 14-year-old software developer. My work lives at the intersection of code, design, and curiosity. This is my corner of the web.</p>
    <a href="/about/">More about me</a>
</section>
<section id="build">
    <h2>What I Build</h2>
    <p>I enjoy writing software and automating things with code. I've been programming for the majority of my life, and I spend most of my free time working on my various projects, including the website you're on right now.</p>
    <div id="projects">
        <h3>Featured Projects</h3>
        <div class="cards-grid">
            <div class="card">
                <a href="/posts/asciiglobe/" class="card-link">
                    <img
                        src="/media/ascii_globe_frame.webp"
                        alt="A spinning globe rendered with text"
                        class="card-image"
                    >
                    <h4>ASCII-Globe</h4>
                    <p>A text-based cartographic rendering engine that uses NASA satellite data</p>
                </a>
            </div>
            <div class="card">
                <a href="/posts/thessa/" class="card-link">
                    <img
                        src="/media/thessascreenshot.webp"
                        alt="A screenshot of the Thessa interface showing synonyms for the word &lsquo;screenshot&rsquo;"
                        width="1869"
                        height="964"
                        class="card-image"
                    >
                    <h4>Thessa</h4>
                    <p>An AI-powered thesaurus that uses the Gemini API</p>
                </a>
            </div>
            <div class="card">
                <a href="/posts/colourlesstransformer/" class="card-link">
                    <img
                        src="/media/painttransformer_walkway.webp"
                        alt="A highly stylized watercolour-style image of a concrete walkway runs alongside a dense hedge of flowering bushes, all under a sleek red pergola."
                        width="1366"
                        height="614"
                        class="card-image"
                    >
                    <h4>ColourlessTransformer</h4>
                    <p>A Streamlit interface for PaintTransformer, a neural network that approximates images using paint strokes</p>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="write">
    <h2>What I Write</h2>
    <p>I love to write, and I publish some of my more coherent pieces here on my personal website as posts. I've written technical articles, word collections, poems, short stories, and more.</p>
    <div id="posts">
        <h3>Featured Posts</h3>
        <div class="cards-grid">
            <div class="card">
                <a href="/posts/liquidglass/" class="card-link">
                    <img
                        src="/media/liquid_glass_banner.webp"
                        alt="Various colourful abstract Liquid Glass blobs, using glassmorphic frosted glass transparency and resembling real glass"
                        width="1199"
                        height="663"
                        class="card-image"
                    >
                    <h4>Thoughts on Liquid Glass</h4>
                    <p>My thoughts on Apple's new Liquid Glass design</p>
                </a>
            </div>
            <div class="card">
                <a href="/posts/waterman/" class="card-link">
                    <img
                        src="/media/waterman_poster.webp"
                        alt="An unusual world map in a butterfly shape, showing the continents arranged in eight connected lobes"
                        width="550"
                        height="550"
                        class="card-image"
                    >
                    <h4>The Waterman Butterfly</h4>
                    <p>An exploration of the Waterman Butterfly map projection</p>
                </a>
            </div>
            <div class="card">
                <a href="/posts/quanth/" class="card-link">
                    <img
                        src="/media/plancklengthfoam.webp"
                        alt="An illustrated graphic depicting quantum foam"
                        width="1186"
                        height="687"
                        class="card-image"
                    >
                    <h4>I have invented a new measurement system</h4>
                    <p>A proposal for a new measurement system based on Planck lengths and quantum physics</p>
                </a>
            </div>
        </div>
    </div>
</section>
{{ end }}
