body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

main {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}

h1 {
    font-family: "Kenia", sans-serif;
    font-weight: 1;
    font-size: 14rem;
    margin: auto;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

p {
    font-family: monospace, sans-serif;
    font-size: 1.6rem;
    margin: auto;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}