<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <meta name="description" content="Explore the blog of Ethan Marks, featuring essays and thoughts on various topics of interest.">
    <link rel="stylesheet" href="/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <script src="/common.js"></script>
    <script src="/static/randomblog.js"></script>
</head>
<body>
<ethan-header></ethan-header>
<main>
<h1 class="animated">Blog</h1>
<article class="animated">
<p class="definition">Blog (noun) - an online journal of thoughts</p>
<p>This is my blog. I use it to share things that I've written, usually essays about things that I've made or that interest me.</p>
<p>I've published <b>{{  recent_posts|length  }}</b> posts so far. Each post is tagged with any of <b>{{ tags|length }}</b> descriptive <a href="/tag/">tags</a>. Clicking on a tag will link you to that tag's aggregator page, which links to all blog posts and projects with that tag. You can view a full list of tags in the <a href="/tag/">tag index</a>.</p>
<p>~Ethan</p>

<div class="post-tags">
{% for tag in tags[:8] %}
    {% if tag['slug'] != 'all' %}
    <a class="post-tag animated" href="{{ tag['url'] }}/">#{{ tag['title'] }}</a>
    {% endif %}
{% endfor %}
    <a class="post-tag animated" href="/tag/">...</a>
</div>

<div class="random-blog-btn-container animated">
    <button onclick="redirectToRandomBlog()" class="random-blog-btn" title="Go to a random blog post">🎲 Random Post</button>
</div>

<nav class="button-links">
{% for post in recent_posts %}
<a class="button-link" href="{{ post['slug'] }}/">
    <span class="content">
        <span class="title">{{ post['title'] }}</span>
        <span class="description">{{ post['date_human'] }}</span>
    </span>
    <span class="tags">
        {% set tags = post['tags'] if post['tags'] is iterable and post['tags'] is not string else post['tags'].split(',') %}
        {% for tag in tags if tag|string %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
    </span>
</a>
{% endfor %}
</nav>
</article>
</main>
<ethan-footer></ethan-footer>
</body>
</html>
