<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../common.css">
    <script src="../common.js"></script>
    <meta name="description" content="Explore the blog of Ethan Marks, featuring essays and thoughts on various topics of interest.">
</head>
<body>
<ethan-header></ethan-header>
<main>
<h1 class="animated">Blog</h1>
<article class="animated">
<p style="font-size: 1.5rem;"><b>Blog</b> (noun) - an online journal of thoughts</p>
<p>This is my blog. I use it to share things that I've written, usually essays about things that I've made or that interest me.</p>
<p>I have three blog categories: Curios, Figments, and Elsewise, but I'm not great at deciding on where to categorize an ambiguous post. This means that some posts are confusingly grouped. Sorry about that.</p>
<p>The format I'm used to writing in is academic essays written with a thesaurus and intended to be read with a dictionary. I've tried to make my posts more accessible and fun to read by using normal words and by including visual aid and dry humor. I've been questionably successful at following these guidelines.</p>
<p>I wrote this blog for anyone else who shares my interests. I enjoy small personal blogs about things that interest me, and I wanted to make one of my own.</p>
<p>~Ethan</p>

<div class="post-tags">
{% for tag in tags %}
    {% if tag['slug'] != 'all' %}
    <a class="post-tag animated" href="{{ tag['slug'] }}/">#{{ tag['title'] }}</a>
    {% endif %}
{% endfor %}
</div>

{% for post in recent_posts %}
<button-link href="{{ post['slug'] }}/">
    <span slot="title">{{ post['title'] }}</span>
    <span slot="description">{{ post['date_human'] }}</span>
</button-link>
{% endfor %}
</article>
</main>
<ethan-footer></ethan-footer>
</body>
</html>
