<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ canonical_url }}">
    <link rel="stylesheet" href="/common.css">{% if "codehilite" in content %}
    <link rel="stylesheet" href="/static/codehilite.css">{% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <script src="/common.js"></script>
</head>
<body>
<ethan-header></ethan-header>
<main>
<h1 class="animated">{{ title }}</h1>
<time class="animated" datetime="{{ date }}">{{ date_human }}</time>
{% if tags %}
<div class="post-tags">
  {% for tag in tags %}
    <a class="post-tag animated" href="/{{  tag_dir  }}/{{ tag }}">#{{ tag }}</a>{% if not loop.last %} {% endif %}
  {% endfor %}
</div>
{% endif %}{% if link %}
<div class="external-link-row">
<a class="external-link" href="{{ link }}">
    <img src="/media/icons/{{ link_icon if link_icon else 'link' }}.svg" alt="{{ link_icon if link_icon else 'link' }} icon">
    <span>{{ link_name if link_name else 'External Link' }}</span>
</a>
</div>
{% endif %}
<article class="animated">
{{ content | safe }}
</article>
</main>
<ethan-footer></ethan-footer>
</body>
</html>
