<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <meta name="description" content="Explore the projects of Ethan Marks, showcasing innovative programming solutions and creative coding endeavors.">
    <link rel="stylesheet" href="/common.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <script src="/common.js"></script>
</head>
<body>
<ethan-header></ethan-header>
<main>
<h1 class="animated">Projects</h1>
<article class="animated">
<p>As a programmer, I spend a lot of time telling computers what to do. These projects are what happens when they actually listen.</p>
<p>~Ethan</p>
<nav class="button-links">
{% for project in projects %}
<a class="button-link" href="{{ project.slug }}">
    <span class="content">
        <span class="title">{{ project.title }}</span>
        <span class="description">{{ project.description }}</span>
        <span style="display:none;">{{ project.date }}</span>
    </span>
    <span class="tags">
        {% set tags = project.tags if project.tags is iterable and project.tags is not string else project.tags.split(',') %}
        {% for tag in tags if tag|string %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
    </span>
</a>
{% endfor %}
</nav>
</article>
</main>
<ethan-footer></ethan-footer>
</body>
</html>