<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tag_title }}</title>
    <meta name="description" content="{{ tag_definition }}">
    <link rel="stylesheet" href="../../common.css">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon"/>
    <script src="../../common.js" defer></script>
</head>
<body>
<ethan-header></ethan-header>
<main>
<h1 class="animated">{{ tag_title }}</h1>
<article class="animated">
<p style="font-size: 1.5rem;">{{ tag_definition }}</p>
<p>{{ tag_text|safe }}</p>
{% for post in posts %}
<button-link href="../../{{ post['url'] }}">
    <span slot="title">{{ post['title'] }}</span>
    <span slot="description">{{ get_post_description(post) }}</span>
    <span style="display:none;">{{ post['date_human'] }}</span>
</button-link>
{% endfor %}
</article>
</main>
<ethan-footer></ethan-footer>
</body>
</html>
