<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tag_title }}</title>
    <meta name="description" content="{{ tag_definition }}">
    <link rel="stylesheet" href="/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <script src="/common.js"></script>
</head>
<body>
<ethan-header></ethan-header>
<main>
<h1 class="animated">{{ tag_title }}</h1>
<article class="animated">
<p class="definition">{{ tag_definition }}</p>{% if tag_text %}
<p>{{ tag_text|safe }}</p>{% endif %}
<nav class="button-links">
{% for post in posts %}
<a class="button-link" href="/{{ post['url'] }}">
    <span class="content">
        <span class="title">{{ post['title'] }}</span>
        <span class="description">{{ get_post_description(post) }}</span>
        <span style="display:none;">{{ post['date_human'] }}</span>
    </span>
    <span class="tags">
        {% if post['tags'] %}
            {% set tags = post['tags'] if post['tags'] is iterable and post['tags'] is not string else post['tags'].split(',') %}
            {% for tag in tags if tag|string %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        {% endif %}
    </span>
</a>
{% endfor %}
</nav>
</article>
</main>
<ethan-footer></ethan-footer>
</body>
</html>
