<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tags</title>
    <meta name="description" content="Browse all tags used on Ethan's blog and projects.">
    <link rel="stylesheet" href="/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <script src="/common.js"></script>
</head>
<body>
<ethan-header></ethan-header>
<main>
<h1 class="animated">All Tags</h1>
<article class="animated">
<p class="definition">Tag (noun) - a descriptive label for a post or project</p>
<p>This page lists all tags used on the site. Click a tag to see all posts and projects with that tag.</p>
<div class="post-tags">
{% for tag in tags %}
    {% if tag['slug'] != 'all' %}
    <a class="post-tag" href="{{ tag['url'] }}/">#{{ tag['title'] }}</a>
    {% endif %}
{% endfor %}
</div>
</article>
</main>
<ethan-footer></ethan-footer>
</body>
</html>
